<p class="lead">To start grading, click on the relevant grading set below. Before you start, <u>please read our instruction guide <a href="/documents/tpdb-user-guide-public.pdf">here</a></u>.</p>

<p class="lead">Please note that as you progress through a grading exercise, your progress will be automatically saved, so if you leave and return to the page you may continue from where you left off.</p> 

<hr/>

<h1 class="mb-4">My Grading Sets </h1>

<div class="row">
  <% @user_grading_sets.each do |user_grading_set| %>
    <%= render partial: 'dashboard/user_grading_set_card', locals: {user_grading_set: user_grading_set} %>
  <% end %>
</div>
