<h1 class="mb-4">My Grading Sets </h1>

<div class="row">
  <% @user_grading_sets.each do |user_grading_set| %>
    <%= render partial: 'dashboard/user_grading_set_card', locals: {user_grading_set: user_grading_set} %>
  <% end %>
</div>
