<div class="center background">
  <div class="card p-2" style="max-width: 36rem; margin: auto">
    <div class="card-body">

      <h5 class="card-title">TF Imagery DB</h5>

      <p class="card-text">
        Check your email for a link to access the TF Imagery Database.  If you haven't logged into the DB before, it may have been sent to spam.
      </p>
      <p class="card-text">
        <%= link_to('Back to home', controller: 'home') %>
      </p>

    </div>
  </div>
</div>
