<div class="hero main-page-content main-page-section">
  <div class="container-xl"> 
    <div class="row align-items-center">
      <div class="col-lg-6 order-2 order-lg-1">
        <h1>Title</h1>
        <p class="lead">Some Text</p>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 text-center mb-md-3">
        <img class="img-fluid hero-img-photo" src="/fgs-hero-img.png">
      </div>
    </div>
  </div>
</div>
<div class="container-xl main-page-content main-page-section"> 
  <div class="row">
    <div class="col-lg-4 pe-lg-5">
      <h2>Uploading Images</h2>
      <p>Uploading image documentation</p>
    </div>
    <div class="col-lg-4 pe-lg-5">
      <h2>Accessing Images</h2>
      <p>Accessing image documentation</p>
    </div>
    <div class="col-lg-4 pe-lg-5">
      <h2>Grading</h2>
      <p>Grading image documentation</p>
    </div>
  </div>
</div>
<div class="main-page-content main-page-footer">
  <div class="container-xl">
    <div class="d-flex flex-column flex-lg-row py-5">
      <div class="flex-fill text-center text-lg-left" style="line-height: 54px;">
          &copy; Copyright notice <%= Date.today.year %>
      </div>
      <div class="flex-fill text-center text-lg-left" style="line-height: 54px;">
          Powered by
          <img src="/ictc-logo.png" width="250" style="padding-left:10px;">
      </div>
      <div class="flex-fill text-center text-lg-left" style="line-height: 54px;">
          <a href="#">Cookies and privacy</a>
      </div>
      <div class="flex-fill text-center text-lg-left" style="line-height: 54px;">
          <a href="#">Terms and conditions</a>
      </div>
    </div>
  </div>
</div> 