<% if current_user %>
  <h3>Latest Grading Sets</h3>
  <div class="row mb-4">
    <% @user_grading_sets.each do |user_grading_set| %>
      <%= render partial: 'dashboard/user_grading_set_card', locals: {user_grading_set: user_grading_set} %>
    <% end %>
  </div>

  <a href="<%= url_for(controller: 'dashboard') %>" class="btn btn-primary">
    All Grading Sets &#8594;
  </a> 
  <hr/>
<% end %>

<h1>Trachoma Photo Database</h1>

<p>This database is the result of a collective effort by the trachoma community to support education and research efforts for trachoma elimination and long-term surveillance. </p>

<p>It has been proposed that the use of photography and image grading can help us to overcome some of the trachoma diagnosis challenges we face. This database was created to support the education and research efforts and to create one accessible portal where images of the eye can be shared and accessed by stakeholders in the trachoma community.</p>

<p>If you have images you wish to share, please can you complete <strong><a href="/documents/db-uploadform-v3.docx">this form</a></strong> and send it to <a href="mailto:admin@tropicaldata.org">admin@tropicaldata.org</a> for us to assign a login to the system. Alongside any photos you upload, you will need to prepare and upload an accompanying metadata template which can be found <strong><a href="/documents/templatemetadataupload.xlsx">here</a></strong>. For full instructions on how to access the site, how to complete the metadata template, and how to upload, please <strong><a href="/documents/tpdb-user-guide-public.pdf">click here</a></strong>.</p>

<p>If you have been invited to grade images on the system, you will have been sent details on how to log in. A guide for graders can be found <strong><a href="/documents/tpdb-user-guide-public.pdf">here</a></strong>. </p>

<p>If you would like to access photos for educational and/or research purposes, please complete and return <strong><a href="/documents/db-access-tcs-v3.docx">this form</a></strong> to <a href="mailto:admin@tropicaldata.org">admin@tropicaldata.org</a>. Access requests will be reviewed and confirmed by the database’s Steering Committee.</p>

<p>Please note that Tropical Data administers this database on behalf of the trachoma community, with support from a Steering Committee. A list of members can be found <strong><a href="/documents/db-steeringcom.docx">here</a></strong>. If you have any questions, please contact <a href="mailto:admin@tropicaldata.org">admin@tropicaldata.org</a>. </p>
